services:
  database:
    image: postgres:latest
    container_name: ffi-postgres-db
    restart: always
    environment:
      POSTGRES_USER: ffiContracting
      POSTGRES_PASSWORD: Jffi2024
      POSTGRES_DB: ffidb
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "5432:5432"

  backend:
    build: ./
    depends_on:
      - database
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/src          # mount entire project
      - /src/node_modules   # prevent node_modules overwrite

    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
      - CHOKIDAR_USEPOLLING=true
      - NEXT_PRIVATE_WATCHPACK_POLLING=true


volumes:
  pgdata: